body{
    background-color: beige;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 40px; */
}
div a{
    color: black;
    padding-right: 50px;
    font-size: 25px;
    text-decoration: none;

}
.images{
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
img{
    border: solid;
}
.bottom{
    display: flex;
    justify-content: center;
}